body {
    text-align: center;
    padding: 100px 0px;
}

.btn {
    cursor: pointer;
}

.js-toDoList.btn {
    background-color: red;
}

h1 {
    color: white;
}

.clicked {
    color: white;
} 

.form, 
.greetings {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.js-clock {
    color: white;
    font-size: 35px;
}

.js-greetings,
.js-weather {
    color: white;
    font-size: 20px;
}

.js-toDoList {
    position: relative;
    color: white;
    font-size: 20px;
    right: 10px;
}

.js-input {
    color: white;
    font-size: 25px;
    padding : 10px 0px;
}

::-webkit-input-placeholder {
    color: white;
}

input,
:placeholder-shown {
    color: white;
    text-align: center;
    font-size: 20px;
    width: 50%;
    background: transparent;
    outline: none;
    border-style: none;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0px;
}